#urlbar-input {
	text-indent: 4px;
}

.subviewbutton {
	--button-background-color-ghost-active: transparent;
	--button-background-color-ghost-hover: transparent;
}

.subviewbutton:active {
	box-shadow: none !important;
}

.tab-close-button:hover {
	background-color: transparent !important;
}

.tab-icon-image {
	transform: translateX(2px);
}

.tab-label-container {
	margin-inline-start: 4px;
}

.tabbrowser-tab:hover {
	--tab-hover-background-color: transparent;
}

.toolbarbutton-1 {
	--toolbarbutton-active-background: transparent;
	--toolbarbutton-hover-background: transparent;
}
